<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products repository</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
        }

        .product-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 12rem;
        }

        .product-quantity {
            width: 9rem;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="container">
    <header class="row">
        <h1 class="header">
            <span>Products</span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                <i class="bi bi-shop-window"></i>
                <span class="badge bg-secondary" th:if="${cart.size() > 0}" th:text="${cart.size()}"></span>
            </button>
        </h1>
    </header>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td th:text="${product.getId()}" />
                    <td th:text="${product.getName()}" />
                    <td th:text="${product.getCost()}" />
                    <td>
                        <article class="product-controls">
                            <section th:if="${cart.has(product)}" class="input-group product-quantity">
                                <form th:action="@{/products/decrease(id=${product.getId()})}" method="post">
                                    <button type="submit" class="btn btn-default btn-number" th:disabled="${cart.quantity(product.getId()) == 1}" data-type="minus">
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </form>
                                <input type="text" th:name="${product.getId()} + '-quantity'" class="form-control" th:value="${cart.quantity(product.getId())}" disabled>
                                <form th:action="@{/products/increase(id=${product.getId()})}" method="post">
                                    <button type="submit" class="btn btn-default btn-number" data-type="plus">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </form>
                            </section>
                            <form th:if="${!cart.has(product.getId())}" th:action="@{/products/addToCart(id=${product.getId()})}" method="post">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-basket"></i></button>
                            </form>
                            <form th:if="${cart.has(product)}" th:action="@{/products/removeFromCart(id=${product.getId()})}" method="post">
                                <button class="btn btn-secondary" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                        </article>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" th:if="${products.totalPages > 0}">
            <ul class="pagination">
                <li th:class="${pageNumber == products.number + 1} ? 'page-item active' : 'page-item'"
                    th:each="pageNumber: ${pageNumbers}">
                    <a class="page-link"
                       th:href="@{/products(size=${products.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
            </ul>
        </nav>

        <article class="modal" tabindex="-1" id="productModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <section class="modal-header">
                        <h5 class="modal-title">Add new product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        <form action="#" th:action="@{/products/add}" th:object="${newProduct}" method="post">
                            <section class="mb-3">
                                <label th:for="product_name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="product_name" th:field="*{name}">
                            </section>
                            <section class="mb-3">
                                <label th:for="product_cost" class="form-label">Cost</label>
                                <input type="number" class="form-control" id="product_cost" th:field="*{cost}">
                            </section>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </section>
                </div>
            </div>
        </article>

        <article class="modal" tabindex="-1" id="cartModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <section class="modal-header">
                        <h5 class="modal-title">Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Cost</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product: ${cart.getProducts()}">
                                <td th:text="${product.getId()}" />
                                <td th:text="${product.getName()}" />
                                <td th:text="${product.getCost()}" />
                                <td>
                                    <form action="#" th:action="@{/products/removeFromCart(id=${product.getId()})}" method="post">
                                        <button class="btn btn-secondary" type="submit"><i class="bi bi-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </article>
    </main>
</body>
</html>